<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title if title else app_name }}</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/style.css') }}"
    />
    <link rel="icon" href="data:;base64,=" />
  </head>
  <body>
    <div class="ui middle aligned center aligned grid" style="height: 100vh">
      <div class="column" style="max-width: 450px">
        <h2 class="ui teal image header">
          <div class="content">
            <h1 class="ui center aligned header green">
              Log-in to your account
            </h1>
          </div>
        </h2>
        <form
          class="ui large form"
          action="{{ url_for('log_in_admin') }}"
          method="post"
        >
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input
                  type="password"
                  name="password"
                  placeholder="Your password"
                  required
                />
              </div>
            </div>
            <button class="ui fluid large green button" type="submit">
              Login
            </button>
          </div>

          <div class="ui error message"></div>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </body>
</html> 
